*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.preloader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: goldenrod;

}

.hidden {
    transition: all 2s ease-in-out;
    opacity: 0;
}