*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.preloader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #daa520;

}

.hidden {
    transition: all 2s ease-in-out;
    opacity: 0;
}

.root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #a7a7a7;
    overflow: hidden;
}

img {
    width: 200px;
    height: 70px;
}

button {
    padding: 5px;
}

button:hover {
    cursor: progress;
}